@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200;300;400;500;600;700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: #eaeaec;
}
::-webkit-scrollbar {
  display: none;
}
.active{
  border: 1px solid;
  border-radius: 4px;
  background-color: rgba(240, 248, 255, 0.5);
}
.dark .active {
  border-bottom: 4px solid #0284c7;
  transition: all 0.3s linear;
  color: #0284c7;
}
.section-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}
.single-banner {
  position: relative;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}
.single-banner img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}
.hover_banner {
  position: absolute;
  z-index: 5;
  background-color: rgba(238, 238, 238, 0.166);
  width: 0%;
  height: 0%;
  opacity: 1;
  top: 50%;
  right: 50%;
  left: 50%;
  bottom: 50%;
  transition: 0.3s ease-out;
}
.single-banner:hover .hover_banner {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.banner-content {
  position: absolute;
  top: 5px;
  left: -7px;
  height: 2rem;
  text-align: left;
  background-color: rgba(0,0,0,0.5);
}
.banner-content::before {
  content: "";
  position: absolute;
  top: 2rem;
  left: 0px;
  border-top: 5px solid #455157bd;
  border-left: 7px solid transparent;
}
.banner-title {
  font-size: 1rem;
  color: whitesmoke;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.ant-btn-primary{
  -webkit-appearance: button;
  background-color: #0284c7;
  background-image: none;
}


.dropdownbtn::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  border-bottom: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.menudr::before{
  content: "";
  position: absolute;
  top: 34px;
  left: 15px;
  border-bottom: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.itemdrdown {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.comment::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 7%;
  border-bottom: 10px solid #f1f5f9;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.cmm::before{
  content: "";
  position: absolute;
  z-index: 100;
  top: 40%;
  left: -7px;
  border-right: 10px solid #e5e7eb;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}





#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}


.rate.active{
  color: #fadb14;
  border-color: #fadb14;
}

.activett{
  color: #0284c7;
  font-weight: 600;
  font-size: 27px;
}



